<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:#F2F2F2;">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="">iTunes</a>
    </nav>
    <form th:action="@{/search}">
        <h2 class="header mx-auto w-50 m-3">Music library</h2>
        <div class="input-group mx-auto w-50 m-3">
            <input type="text" class="form-control" placeholder="Search for tracks" th:id="input" th:name="term">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" disabled type="submit" th:id="button">Search</button>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="mb-1">Tracks</h5>
                <ul class="list-group" th:each="track:${tracks}">
                    <li class="list-group-item" th:text="${track.getName()}"></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="mb-1">Artists</h5>
                <ul class="list-group" th:each="artist:${artists}">
                    <li class="list-group-item" th:text="${artist.getName()}"></li>
                </ul>
            </div>
                <div class="col">
                <h5 class="mb-1">Genres</h5>
                <ul class="list-group" th:each="genre:${genres}">
                    <li class="list-group-item" th:text="${genre.getName()}"></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        let inputElt = document.getElementById('input');
        let btn = document.getElementById('button');

        inputElt.addEventListener("input", function(){
            btn.disabled = (this.value === '');
        });
    </script>
</body>
</html>