<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
</head>
<body style="background-color:#F2F2F2;">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="">iTunes</a>
    </nav>
    <div class="container">
        <p class="text-center" th:text="'Search results for: &quot;' + ${search} + '&quot;'"></p>
    </div>
    <div class="container w-75">
        <div class="card text-center" th:if="${track != null}">
            <div class="card-body">
                <h3 class="card-title mb-4" th:text="${track.getName()}"></h3>
                <h6 class="card-subtitle">Artist</h6>
                <p class="card-text" th:text="${track.getArtistName()}"></p>
                <h6 class="card-subtitle">Album</h6>
                <p class="card-text" th:text="${track.getAlbumName()}"></p>
                <h6 class="card-subtitle">Genre</h6>
                <p class="card-text" th:text="${track.getGenreName()}"></p>
            </div>
        </div>
        <a href="/" class="btn btn-secondary btn-lg mt-2" role="button" aria-disabled="true">Back</a>
    </div>
</body>
</html>